.navbar {
    font-family:sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
    background-color: #fff;
    padding-top: 10px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.navbar span {
    font-size: 18px;
    padding: 15px;
}
.navbar .logout-btn {
    padding: 10px 20px;
    background-color: #00ff7f;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}