/* Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 8px;
  }
  
  .icon {
    color: #fff;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #1da1f2;
  }
  
  .footer-text {
    margin-top: 10px;
    font-size: 15px;
  }
  