.project-component{
  align-items: center;
  justify-content: center;
}
.project-header{
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 7%;
  padding-top: 5%;
  max-width: 70%;
  color: white;
  line-height: 1;
}
.project-header p {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.project-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;

}
.project-card-second {
  margin-top: 200px;
}
.mb-10 {
  margin-bottom: 10rem; /* Adjust this value as needed */
}