.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .carousel-text h3, .carousel-text p {
    color: white;
  }
  